@font-face {
    font-family: 'pt_sansregular';
    src: url('Police/PTS55F-webfont.eot');
    src: url('Police/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/PTS55F-webfont.woff2') format('woff2'),
         url('Police/PTS55F-webfont.woff') format('woff'),
         url('Police/PTS55F-webfont.ttf') format('truetype'),
         url('Police/PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

p
{

	font-size: 1.3em;
}

a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: red;
   font-style: italic;
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: underline;
   color: green;
}

a:focus /* Quand le visiteur sélectionne le lien */
{
    background-color: #FFCC66;
}

body
{

	background: url('fond_blanc_texture.jpg') fixed;
	background-size: 100%;
	font-family: 'pt_sansregular', Impact, "Arial Black", Arial, Verdana, sans-serif;
}

#Flottant
{
float: right;
}

.center
{
	text-align: center;
	text-shadow: 2px 2px 4px black; 
}

h2
{
	color : #6D5252;
	opacity:	1;
}